#offcanvasNavbar {
    left: 50px;
    width: calc(100% - 50px);
}

#navbarNav {
    margin: 15px;
}

.myImg {
    width: 50%;

}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    padding-left: 100px;
}

.watchme {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  align-self: flex-start;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.me {
    display: block;
    /* margin-left: 140px; */
}

/* @keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.watchLogo:hover img,
.watchLogo.active img {
  animation: bounce 0.5s infinite;
} */


.awesome {
  /* my site logo */
  width: 150px;
  height: 70px;
}


/* ** this is for home card component */
.myLink, .ext {
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
  }
  
  .myLink:hover,
  .myLink.active, .ext:hover {
    color: gold;
    font-weight: 600;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
  }
  
  /* .current {
    color: gold;
  } */
  


/* FOR MOBILE VIEW ONLY */
@media (max-width: 767px) {
.me {
    display: none;
    visibility: hidden;
    background-color: #3b5998;
  }


  .awesome {
    /* margin: 0 10px; */
    width: 60%;
    height: 60px;
}

}